.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

input[type="date"]::-webkit-datetime-edit-fields-wrapper {
  display: flex;
  flex-direction: row;
}

input[type="date"]::-webkit-datetime-edit-text {
  color: #333;
  font-size: 16px;
}

input[type="date"]::-webkit-datetime-edit-day-field {
  appearance: none;
  -webkit-appearance: none;
  background-color: transparent;
  border: none;
  width: 30px;
}

input[type="date"]::-webkit-datetime-edit-month-field {
  appearance: none;
  -webkit-appearance: none;
  background-color: transparent;
  border: none;
  width: 50px;
}

input[type="date"]::-webkit-datetime-edit-year-field {
  appearance: none;
  -webkit-appearance: none;
  background-color: transparent;
  border: none;
  width: 60px;
}

input[type="date"]::-moz-placeholder {
  color: #999;
}
